 /*this is for navbar*/
/*
 .navbar{
    
    position: sticky;
    top: 0;

.navbar .navbar-brand{
    font-size: 30px;
}
/*------------------*/
 
/* This is for login Form */
form{
    padding: 30px;
    width: 700px;
    background-color: #039d90b7;
    position: relative;
    border-radius: 15px;
    top: -450px;
    left: 350px;
}
form *{
    margin: 10px;
}
form h5{
    text-align: center;
    color: white;
}
form input{

    text-align: center;
    border-radius: 25px;
}

form button{
    margin-left: 250px;
    position: relative;
}

form .footer{

    border-top: 2px solid black;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #808080;
    border: 2px solid;
    border-radius: 15px;
    margin: 2px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    border: 2px solid;
    border-radius: 15px;
    margin: 2px;
    background-color: #039d8f;
}
.btn-primary {
    color: #fff;
    background-color: #808080;
    border-color: #0c0d0e;
}
#enter1,#enter2{

    display: none;
}
/*------------------------*/

/* This is for home page */
.homeData{
    background-color: #039d8f;
    width: 100%;
    padding: 150px;
}
.homeData *{
    text-align: center;
    color: white;
}
.homeData{

    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ourVideo video{
    
    padding-top: 10px;
    width: 100%;
    height: 600px;
}
.OurVision{
    padding: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("img_home.jpg");
}
/*-------------------------*/

/* This is for student page */
.container div{

    background-color: #eee;
    width: 600px;
    height: 700px;
    margin: 30px;
    margin-top: 0px;
    border: 6px solid slategrey;
    box-shadow:#039d8f 2px 2px 2px 2px;
    position: relative;
    border-radius: 2%;
    left: 200px;
}
.container div *{
    position: absolute;
}
.container h4{text-align: center;}
.container div button:nth-last-of-type(1){
 
    left: 40%;
    bottom: 0;
    border-radius: 4px;
    background-color: white;
    color: #808080;
}
.container div button:nth-last-of-type(2){
 
    left: 50%;
    bottom: 0;
    border-radius:4px;
    background-color: white;
    color: #808080;
}

.container div input{

text-align: center;
width: 100%;
height: 100%;
border-radius: 2%;

}
/*----------------*/

/* this is for teacher board */

.boardsCloected{

    background-color: #eee;
    width: 500px;
    height: 600px;
    border: 6px solid slategrey;
    box-shadow:#039d8f 2px 2px 2px 2px;
    border-radius: 2%;
    position: relative;
    margin: 10px;
    display: inline-block;
    left: 150px;
}

.boardsCloected input{

    text-align: center;
    width: 100%;
    height: 100%;
    border-radius:4px;
    
}
.boardsCloected button{
    
    position:absolute;
    left: 50%;
    bottom: 0;
    border-radius:4px;
    color: #808080;
    background-color: white;
}
footer{

    bottom: 0;
    position: absolute;
    background-color:#808080;
    width: 100%;
    padding: 20px;
}
footer h5{

    text-align: center;
    color: white;
}